[submodule "lib/clang-async"]
	path = lib/clang-async
	url = https://github.com/Golevka/emacs-clang-complete-async.git
[submodule "lib/rosemacs"]
	path = lib/rosemacs
	url = https://github.com/moesenle/rosemacs-debs
	branch = master